<%= form_for([@assignment, @submission]) do |f| %>
  <%= f.text_area :body, class: "tinymce", rows: 15, cols: 80 %>
  <%= tinymce %>
  <div class="actions">
    <%= f.submit "Add Submission", class: "float btn btn-default btn-md" %>
  </div>
<% end %>
