<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-offset-4">

<div class="login-box">
  <h2>Add New Student</h2>

  <%= form_for(@roster) do |f| %>
    <div class="field">
    <br />
    <%= f.email_field :student, placeholder: "Student Email", class: "form-control" %>
    </div>
    <br>
    <div class="actions">
    <%= f.submit "Add Student", class: "float" %>
  </div>
  <% end %>
</div>
</div>
</div>
</div>
</div>
